<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<h1>게시글 목록</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>title(|| 쓰지 않은 경우)</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}">1</td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}">제목</a></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}">제목</a></td>
        <td th:text="${board.boardWriter}">작성자</td>
        <td th:text="${#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
        <td th:text="${board.boardHits}">조회수</td>
    </tr>
</table>
</body>
</html>
